@font-face {
  /* khai báo tên font tự tạo */
  font-family: fontGame;
  src: url("../assets/GameXucXac/Pony.ttf");
}
.bg_game {
  /*  sử dụng font-family có tên là fontGame */
  font-family: fontGame;
}
